# Python
__pycache__/
*.py[cod]
*.egg-info/
env/
venv/
instance/
# Jupyter / Notebook checkpoints
.ipynb_checkpoints
# Colab / VS Code outputs / local data
*.log
.DS_Store
# Large data / model artifacts (push manually if needed)
data/
models/
# secrets / env
*.env
secrets.json
.env
