sentence-transformers==5.1.0
numpy==1.26.4
scikit-learn==1.7.2
langchain==0.3.27
langchain-text-splitters==0.3.11
pymongo==4.15.1
dnspython==2.8.0
openai==1.109.1
discord.py==2.6.3
faiss==1.7.4
tiktoken==0.11.0
python-dotenv==1.1.1
